:host {
  // background: pink;
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
}

::ng-deep {
  .carousel-control {
    display: none;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    color: #000;

    background-color: black;
  }
}

.page {
  border: solid 1px gold;
  width: 600px;

  height: 90vh;
}

.title1 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-weight: bold;
  color: gold;
}

.paragraph1 {
  position: absolute;
  top: 200px;
  width: 200px;
  left: 20px;
}

.picture1 {
  width: 200px;
  border: solid 2px #000;
  box-shadow: 10px 10px 0px 0px #003300;
  position: absolute;
  top: 150px;
  right: 50px;
}

.title2 {
  z-index: 1000;
  position: absolute;
  top: 79px;
  left: 433px;
  font-weight: bold;
  color: #352e07;
  text-shadow: 2px 2px #ccc;
  font-size: 47px;
}

.paragraph2 {
  position: absolute;
  top: 450px;
  width: 350px;
  right: 20px;
}

.picture2 {
  width: 350px;
  border: solid 2px #000;
  box-shadow: 10px 10px 0px 0px #b059ba;
  position: absolute;
  top: 150px;
  left: 50px;
}
