<!-- <p>itemsPerSlide: {{itemsPerSlide}}</p> -->
<carousel [activeSlide]="page" [interval]="false" [itemsPerSlide]="itemsPerSlide" [showIndicators]="false" #ccc>
  <slide>
    <div class="page">
      <h3 class="title1">Slide 1</h3>
      <p class="paragraph1">Donec sollicitudin velit ac ipsum convallis, sit amet eleifend nulla malesuada. Mauris
        lacinia ullamcorper libero ac aliquam. Etiam eget consectetur quam. Ut faucibus elementum est at cursus. Donec
        orci tortor, tempus vitae sem eget, blandit malesuada risus. Nam vehicula nibh id nisl pellentesque, vitae
        suscipit est finibus.</p>
      <img src="assets/neelam.jpg" alt="neelam.jpg" class="picture1">
    </div>
  </slide>
  <slide>
    <div class="page">
      <h3 class="title2">Slide 2</h3>
      <p class="paragraph2">Donec sollicitudin velit ac ipsum convallis, sit amet eleifend nulla malesuada. Mauris
        lacinia ullamcorper libero ac aliquam. Etiam eget consectetur quam. Ut faucibus elementum est at cursus. Donec
        orci tortor, tempus vitae sem eget, blandit malesuada risus. Nam vehicula nibh id nisl pellentesque, vitae
        suscipit est finibus.</p>
      <img src="assets/leon.jpg" alt="neelam.jpg" class="picture2">
    </div>
  </slide>
  <slide>
    <div class="page">
      <h3 class="title1">Slide 3</h3>
      <p class="paragraph1">Donec sollicitudin velit ac ipsum convallis, sit amet eleifend nulla malesuada. Mauris
        lacinia ullamcorper libero ac aliquam. Etiam eget consectetur quam. Ut faucibus elementum est at cursus. Donec
        orci tortor, tempus vitae sem eget, blandit malesuada risus. Nam vehicula nibh id nisl pellentesque, vitae
        suscipit est finibus.</p>
      <img src="assets/sth.jpg" alt="neelam.jpg" class="picture1">
    </div>
  </slide>
  <slide>
    <div class="page">
      <h3 class="title2">Slide 4</h3>
      <p class="paragraph2">Donec sollicitudin velit ac ipsum convallis, sit amet eleifend nulla malesuada. Mauris
        lacinia ullamcorper libero ac aliquam. Etiam eget consectetur quam. Ut faucibus elementum est at cursus. Donec
        orci tortor, tempus vitae sem eget, blandit malesuada risus. Nam vehicula nibh id nisl pellentesque, vitae
        suscipit est finibus.</p>
      <img src="assets/victor.jpg" alt="neelam.jpg" class="picture2">
    </div>
  </slide>
</carousel>
